# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env & secrets  (NEVER commit real secrets)
.env
.env.*
!.env.example

# turbo / caches
.turbo/
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!*.tfvars.example
crash.log

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
